---
import Layout from '@layouts/Layout.astro';
---

<Layout>

  <script>
    const bird_names = [
      "Berguv",
      "Björktrast",
      "Blåmes",
      "Bofink",
      "Domherre",
      "Drillsnäppa",
      "Enkelbeckasin",
      "Entita",
      "Fasan",
      "Gransångare",
      "Gräshoppsångare",
      "Gråsparv",
      "Grönbena",
      "Grönfink",
      "Gröngöling",
      "Grönsångare",
      "Gulsparv",
      "Gärdsmyg",
      "Gök",
      "Hämpling",
      "Kattuggla",
      "Koltrast",
      "Korp",
      "Lövsångare",
      "Mindre hackspett",
      "Morkulla",
      "Näktergal",
      "Nötväcka",
      "Ormvråk",
      "Ringduva",
      "Rosenfink",
      "Rödbena",
      "Rödhake",
      "Rödstjärt",
      "Rödvingetrast",
      "Rördrom",
      "Rörsångare",
      "Skogsduva",
      "Skäggdopping",
      "Sommargylling",
      "Sothöna",
      "Spillkråka",
      "Stare",
      "Steglits",
      "Storspov",
      "Större hackspett",
      "Svart-vit flugsnappare",
      "Svarthätta",
      "Svartmes",
      "Sävsparv",
      "Sävsångare",
      "Sånglärka",
      "Sångsvan",
      "Talgoxe",
      "Talltita",
      "Taltrast",
      "Tofsvipa",
      "Trana",
      "Trädkrypare",
      "Trädpiplärka",
      "Turkduva",
      "Törnsångare",
      "Vattenrall",
      "Ängspiplärka",
      "Ärtsångare"
    ]

    function selectRandom() {
      const index = Math.floor(Math.random() * bird_names.length);
      const [removed] = bird_names.splice(index, 1); // Removes and returns the element
      return removed;
    }

    let randomBird: string = selectRandom(); 
    let bird_sound_path = `https://bird-sounds.vercel.app/sounds/${randomBird}.mp3`

    function loadAudio() {
      const audio = document.getElementById("audio") as HTMLAudioElement;
      const audio_source = document.getElementById("audio-source");

      if (audio && audio_source) {
        audio_source.setAttribute('src', bird_sound_path);
        audio.load();
      }
    }

    loadAudio()
    
    let total_guesses = 0 
    function iterateTotalGuesses() {
      total_guesses ++
      const display = document.getElementById('total-guesses')
      if (display) {
        display.innerText = `${total_guesses} / 65`
      }
    }
    
    let correct_guesses = 0
    function iterateCorrectGuesses() {
      correct_guesses ++

      const display = document.getElementById('correct-guesses')
      if (display) {
        display.innerText = `Antal rätt ${correct_guesses} / 65`
      }
    }

    const next_button = document.getElementById('next-button')
    const indicate_correct = document.getElementById('indicate-correct')
    const indicate_species = document.getElementById('indicate-species')
    const guess_button = document.getElementById('guess-button')
    const guess_value = document.getElementById('user-input') as HTMLInputElement

    function guess() {
      guess_button?.setAttribute('disabled', 'true')

      if (guess_value.value.toLowerCase() == randomBird.toLowerCase()) {
        if (indicate_correct && indicate_species) {
          indicate_correct.style.color = 'green'
          indicate_correct.innerText = 'Du hade rätt!'
          indicate_species.innerText = `Detta ljud kommer från en ${randomBird.toLowerCase()}`
        }
        iterateCorrectGuesses()
        iterateTotalGuesses()
        next_button?.removeAttribute('disabled')
      } else {
        if (indicate_correct && indicate_species) {
          indicate_correct.style.color = 'red'
          indicate_correct.innerText = 'Du hade fel,'
          indicate_species.innerText = `Detta ljud kommer från en ${randomBird}`
        }
        iterateTotalGuesses()
        next_button?.removeAttribute('disabled')
      }
    }

    document.getElementById('guess-button')?.addEventListener('click', guess)

    function reset() {

      if (indicate_correct && indicate_species) {
        indicate_correct.style.color = 'initial'
        indicate_correct.innerText = ''
        indicate_species.innerText = `Detta ljud kommer från en?`
      }

      guess_value.value = ''
      guess_button?.removeAttribute('disabled')
      next_button?.setAttribute('disabled', 'true')
      randomBird = selectRandom()
      bird_sound_path = `https://bird-sounds.vercel.app/sounds/${randomBird}.mp3`
      loadAudio()
    }

    document.getElementById('next-button')?.addEventListener('click', reset)

  </script>

	<main class="margin-inline-100 flex align-items-center justify-content-center" style="height: 100dvh;">
    <container-text style="width: min(60ch, 100%);">
      <small class="font-weight-500" id="indicate-correct">‎</small>
      <h1 class="margin-top-25" style="font-size: 1.25rem;" id="indicate-species">Detta ljud kommer från en?</h1>
      <flex class="justify-content-center">
        <audio controls id="audio" class="flex-grow-100">
            
          <source type="audio/mp3" id="audio-source">
        </audio>
      </flex>

      <flex class="align-items-flex-end gap-25">
        <label class="font-weight-500 block margin-top-300 flex-grow-100">
          Vilken fågel hörde du?
          <input type="text" class="block margin-top-25" id="user-input"  />
        </label>
        <button class="font-weight-500" id="guess-button" >Gissa</button>  
      </flex>

      <flex class="flex justify-content-space-between margin-top-100 align-items-center" id="amount-correct">
        <small id="total-guesses">0 / 65</small>
        <flex class="gap-100 align-items-center">
          <small id="correct-guesses">Antal rätt: 0 / 65</small>
          <button class="font-weight-500 flex align-items-center gap-25 padding-inline-100" style="border-radius: 9999px;" disabled id="next-button" >
            Nästa
            <img src="arrow-right.svg" width="20" height="20" alt="" />
          </button>
        </flex>
      </flex>

    </container-text>
	</main>
</Layout>

<style>

</style>